<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://113-200-228-131.pd1.123pan.cn:30443/download-cdn.123pan.cn/123-505/d74ce4c2/1817598211-0/d74ce4c2efd5f5653d1bd39d04e82df9/c-m6?v=5&t=1706262829&s=17062628290845e2b4d6aab9c18dc4f36a1c8970c3&r=D88QZ5&bzc=2&bzs=313831373539383231313a33323239383938343a3230313334343539343a31383137353938323131&filename=%E5%B0%8F%E7%BA%A2%E4%B9%A6.ipa&x-mf-biz-cid=a3798e8c-3246-4fe8-8aec-e045efedc8b6-a0d664&auto_redirect=0&ndcp=1&cache_type=1&xmfcid=81c09830-6a15-41b9-842b-c282c1e6b1c4-1-50111d3b1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xingin.discovertst</string>
				<key>bundle-version</key>
				<string>8.23.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>8.23.0</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
